<!-- Created 6/26/2022 by Daniel Wu-->
<!-- Edited 6/28/2022 by Daniel Wu-->
<div id="about_me">
  <br />
  <img src=<%= data.file_paths.professor %> alt="Missing professor image">
  <h1 class="heading">
    About me
  </h1>
  <p>
    I am a Professor in the <a href=<%= data.about_page_links.osuCse %> target="external">Department of Computer Science and Engineering</a> at 
    <a href=<%= data.about_page_links.osu %> target="external">Ohio State University</a>. I lead the
    <a href=<%= data.about_page_links.archResearchLab %> target="self" title="Research">Architecture Research Lab</a>
    . Our research interests include computer architecture, energy efficient computing, security and reliability. <br />
    <br />
    I received my Ph.D. from the <a href=<%= data.about_page_links.uiucCse %> target="self">Department of Computer Science</a>, 
    <a href=<%= data.about_page_links.uiuc %> target="self">University of Illinois at Urbana-Champaign</a> where I was a member of the 
    <a href=<%= data.about_page_links.iacoma %> target="self">IACOMA</a> group working with <a href=<%= data.about_page_links.profJosepTorrellas %> target="self">Prof. Josep Torrellas</a>
    . I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the <a href=<%= data.about_page_links.lumleyAward %> target="self">Lumley Award</a>
    in 2014, an <a href="<%= data.about_page_links.nsfCareerAward %>" target="self">NSF CAREER award</a> in 2012,
    <a href=<%= data.about_page_links.intelFoundFellowship %> target="self">Intel Foundation Fellowship</a>
    for 2007-2008 and the <a href=<%= data.about_page_links.wjPoppelbaumAward %> target="self">W. J. Poppelbaum Award</a> for 2008. <br />
    We were proud to help organize<a href=<%= data.about_page_links.micro52 %> target="self"> MICRO-52 in Columbus, Ohio</a> in October 2019.
    <br />
    <br />
    I am looking for bright and motivated students to join my research group. For more details and research updates please visit 
    <a href=<%= data.about_page_links.groupWebsite %> target="self">my group&rsquo;s website</a>. If you are interested in working with us send me an email or drop by my office.
    <br />
    <br />
    I was born in <a href=<%= data.about_page_links.clujNapoca %> target="self">Cluj-Napoca</a>, in the beautiful province of Transilvania in Romania.
    I received an Engineer Diploma from the 
    <a href=<%= data.about_page_links.techUnivClujNapoca %> target="self">Technical University of Cluj-Napoca</a> in 2002.
    <br />
  </p>
  <div id="teaching">
    <br />
    <h2 class="heading">
      Currently Teaching
    </h2>
    <p>
      <a href=<%= data.about_page_links.cse6421 %> target="self">CSE6421</a> and 
      <a href=<%= data.about_page_links.cse3421 %> target="self">CSE3421</a>
    </p>
  </div>
  <div id="contact">
    <br />
    <h2 class="heading">
      Contact
    </h2>
    <h3 class="subheading">
      Email
    </h3>
    <p>
      <%= data.contact.email %>
    </p>
    <h3 class="subheading">
      Office
    </h3>
    <p>
      797 Dreese Labs<br>
      2015 Neil Ave.<br>
      Columbus, OH, 43210
    </p>
  </div>
</div>
