<div id="publications_grid">
  <%= partial "publications_nav" %>
  <div id="all_publications">
    <%= partial "publications_conference" %>
    <%= partial "publications_techreports" %>
    <%= partial "publications_workshop" %>
    <%= partial "publications_theses" %>
  </div>
</div>