<!-- Created 6/28/2022 by Jake McCann-->
<!-- Edited 6/29/2022 by Jake McCann-->
<%= current_page.data.title = "Publications"; print "" %>
<div id="publications_grid">
  <%= partial "publications_nav" %>
  <div id="all_publications">
    <%= partial "publications_conference" %>
    <%= partial "publications_techreports" %>
    <%= partial "publications_workshop" %>
    <%= partial "publications_theses" %>
  </div>
</div>